<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <!-- title -->
      <h1 class="text-center mt-3">註冊帳號</h1>
      {{> message}}
      <!-- form -->
      <form action="/user/register" method="POST">
        <div class="mb-3">
          <label class="mb-2" for="name">名字</label>
          <input class="form-control" name="name" id="name" placeholder="Enter Name" {{#if name}}value="{{name}}"
            {{/if}}>
        </div>
        <div class="mb-3">
          <label class="mb-2" for="email">信箱</label>
          <input class="form-control" type="email" name="email" id="email" placeholder="Enter Email" {{#if
            email}}value="{{email}}" {{/if}}>
        </div>
        <div class="mb-3">
          <label class="mb-2" for="password">密碼</label>
          <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <div class="mb-3">
          <label class="mb-2" for="confirmPassword">確認密碼</label>
          <input class="form-control" type="password" name="confirmPassword" id="confirmPassword"
            placeholder="Confirm Password">
        </div>
        <div class="row g-2">
          <button class="btn btn-primary" type="submit">註冊</button>
          <a href="/auth/facebook" class="btn btn-info">臉書登入</a>
        </div>
      </form>
      <p class="lead mt-4">
        已經註冊過帳號了嗎? <a href="/user/login">登入</a>
      </p>
      <p class="text-danger">{{message}}</p>

    </div>
  </div>
</div>